language: r
cache: packages
r:
  - oldrel
  - release
  - devel
warnings_are_errors: true
sudo: required
dist: xenial

r_packages:
  - devtools

r_github_packages:
  - trestletech/shinyAce
  - radiant-rstats/radiant.data
  - radiant-rstats/radiant.basics

## based on https://www.datacamp.com/community/tutorials/cd-package-docs-pkgdown-travis
after_success:
  - Rscript -e 'pkgdown::build_site()'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master
